<div class="container">
    <h1>Tous les animes</h1>
    <div #scrollingBlock class="card-group" *ngIf="animes.length > 0">
          <div class="my-child-item" *ngFor="let anime of animes" style="max-width: 25%;display: inline-grid;" >
              <div class="animated">
                  <div class="card text-white box cardi">
                      <div class="flow">
                          <a [routerLink]="['/animes/', anime.title]">
                              <img style="max-width: 100%" class="card-img-top card-img-top-a "
                                   src="{{ anime.posterImage || 'https://media.kitsu.io/anime/poster_images/10007/original.jpg?1460247262' }}"
                                   alt="poster_{{ anime.title }}">
                          </a>
                      </div>

                      <div class="card-img-overlay overlay">
                          <div class="text">
                              <h5 class="card-title mt-auto">{{ anime.title }}</h5>
                                      <!-- <p class="card-text">Some example text.</p> -->
                              <a [routerLink]="['/animes/', anime.title]" class="btn btn-primary mt-auto">More</a>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
        <div infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
        <ngx-spinner bdColor="#333" size="medium" color="#000000" type="ball-atom">
          <p style="color: white" > Loading... </p>
        </ngx-spinner>
        <div class="alert alert-info" *ngIf="finished">End database</div>
    </div>
  <div class="col-12" *ngIf="!animes.length > 0">
    <p class="alert alert-danger">Aucun anime enregistré</p>
  </div>
</div>
