<div class="container">
    <h1>Tous les animes</h1>
    <div class="card-group">
        <cdk-virtual-scroll-viewport [itemSize]="20" style="height: 1000px;width: 100em;" class="mx-auto">
                <div class="col-md-4" *cdkVirtualFor="let anime of animes" style="max-width: 25%;display: inline-grid;">
                    <div class="animated">
                        <div class="card text-white box cardi">
                            <div class="flow">
                                <a href="#linktodo">
                                    <img style="max-width: 100%" class="card-img-top card-img-top-a " src="{{ anime.posterImage }}" alt="poster_{{ anime.title }}">
                                </a>
                            </div>
                    
                            <div class="card-img-overlay overlay">
                                <div class="text">
                                    <h5 class="card-title mt-auto">{{ anime.title }}</h5>
                                            <!-- <p class="card-text">Some example text.</p> -->
                                    <a href="#" class="btn btn-primary mt-auto">More</a>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
