.filter-select {
  // z-index: 9999;
  // height: 150px;
  // width: 450px;
  // overflow-y: scroll;
  // position: ;
}

.filter-select-item {
  display: inline-flex;
}
.anime-title-search {
  padding-left: 1em;
  color: black;
}