<div class="container">
      <form novalidate [formGroup]="formFilter" class="mt-5 mb-5">
        <div class="row h-100">
          <div class="col">
            <select class="form-control" formControlName="status" >
              <option value="" disabled>Choose status ...</option>
              <option value="finished">Finished</option>
              <option value="current">In progress</option>
            </select>
          </div>

          <div class="col">
            <ng-multiselect-dropdown
              [placeholder]="'Genres'"
              [data]="genres"
              formControlName="genres"
              [settings]="dropdownGenresSettings"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="col">
            <ng-multiselect-dropdown
              [placeholder]="'Catégories'"
              [data]="categories"
              formControlName="categories"
              [settings]="dropdownCategoriesSettings"
            >
            </ng-multiselect-dropdown>
          </div>


          <div class="col">
            <button class="btn btn-primary" (click)="searchAnimes(formFilter.value)">Filter</button>
            <input type="reset" value="Reset" class="btn btn-info ml-2">
          </div>
        </div>

      </form>

    <div #scrollingBlock class="card-group" *ngIf="animes.length > 0">
          <div class="my-child-item" *ngFor="let anime of animes" style="max-width: 25%;display: inline-grid;" >
              <div class="animated">
                  <div class="card text-white box cardi">
                      <div class="flow">
                          <a [routerLink]="['/animes/', anime.title]">
                              <img style="max-width: 100%" class="card-img-top card-img-top-a "
                                   src="{{ anime.posterImage || 'https://media.kitsu.io/anime/poster_images/10007/original.jpg?1460247262' }}"
                                   alt="poster_{{ anime.title }}">
                          </a>
                      </div>

                      <div class="card-img-overlay overlay">
                          <div class="text">
                              <h5 class="card-title mt-auto">{{ anime.title }}</h5>
                                      <!-- <p class="card-text">Some example text.</p> -->
                              <a [routerLink]="['/animes/', anime.title]" class="btn btn-primary mt-auto" target="_blank">More</a>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
        <div infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
<!--       todo find a beter color transparent for spinner-->
        <ngx-spinner bdColor="rgba('255','255', '255', 1)" size="medium" color="#000000" type="ball-atom">
          <p style="color: white" > Loading... </p>
        </ngx-spinner>
        <div class="alert alert-info" *ngIf="finished">End database</div>
    </div>
  <div class="col-12" *ngIf="!(animes.length > 0)">
    <p class="alert alert-danger">Aucun anime enregistré</p>
  </div>
</div>
