<div class="col-md-12">

    <div class="row">
        <div class="col-12" [style.background-image]="anime.urlImg" style="background-size: cover;height: 30em;padding:0">
        </div>
    </div>

    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active black" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Infos</a>
            <a *ngIf="anime.characters" class="nav-item nav-link black" id="persos-tab" data-toggle="tab" href="#persos" role="tab" aria-controls="persos" aria-selected="false">Personnages</a>
            <a *ngIf="animesRecommendated" class="nav-item nav-link black" id="recommend-tab" data-toggle="tab" href="#recommend" role="tab" aria-controls="recommend" aria-selected="false">Recommendations</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- tab infos about anime -->
        <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">
            <div class="row mt-5">
              <div class="col-lg-3 col-md-6 col-12">
                <a [href]="'https://www.youtube.com/embed/' + this.anime.ytVideoID" class="magnific-youtube">
                  <img class="h-30 mx-auto card-img-top card-img-top-a "
                       src="{{ anime.posterImage || 'https://media.kitsu.io/anime/poster_images/10007/original.jpg?1460247262' }}"
                       alt="poster_{{ anime.title }}">
                  <svg viewBox="0 0 24 24" class="n-m play" style="position: absolute;">
                    <path d="M8,5.14V19.14L19,12.14L8,5.14Z"></path>
                  </svg>
                </a>

                <img *ngIf="!anime.ytVideoID && !videoYT" class="h-30 mx-auto card-img-top card-img-top-a "
                     src="{{ anime.posterImage || 'https://media.kitsu.io/anime/poster_images/10007/original.jpg?1460247262' }}"
                     alt="poster_{{ anime.title }}">
                <a *ngIf="currentUser !== null && currentUser.user.role === 'admin'"
                   class="btn btn-warning" routerLink="edit">Edit</a>
                <a *ngIf="currentUser !== null &&currentUser.user.role === 'admin'"
                   class="btn btn-danger m-2" routerLink="">Delete</a>
              </div>
                <div class="col-lg-9 col-md-6 col-12">
                  <div class="row">
                    <div class="col-5">
                      <h1>{{anime.title}}</h1>
                      <h3>Informations</h3>

                      <p *ngIf="anime.genres" >Genres :
                        <span *ngFor="let genre of anime.genres"
                              class="badge btn-info p-2 mt-2" style="margin-left: 0.5em;">{{genre.name}}</span>
                      </p>
                      <p *ngIf="anime.categories">Catégories :
                        <span *ngFor="let category of anime.categories"
                              class="badge btn-info p-2 mt-2" style="margin-left: 0.5em;">{{category.name}}</span>
                      </p>
                      <p>Auteur : TODO </p>
                      <p *ngIf="anime.nbEpisode">Nb d'épisodes : {{ anime.nbEpisode }}</p>
                      <p *ngIf="anime.episodeLength">Durée : {{ anime.episodeLength }} min</p>
                      <p *ngIf="anime.status">Statut : {{ anime.status }}</p>
                      <p *ngIf="anime.subtype">Type : {{ anime.subtype }}</p>
                      <p *ngIf="anime.startDate">Début : {{ anime.startDate }}</p>
                      <p *ngIf="anime.endDate">Fin : {{ anime.endDate }}</p>

                    </div>
                    <div class="col-lg-7 col-md-12 col-12"  >
                      <div *ngIf="currentUser">
                        <h3>Your stats</h3>
                        <form [formGroup]="formStatus">
                          <label for="status_watch">
                            <select formControlName="status_watch" id="status_watch">
                              <option value="" disabled>Choose status ...</option>
                              <option value="completed" [disabled]="statusCompleted">Completed</option>
                              <option value="watching" [disabled]="statusWatching">Watching</option>
                              <option value="want-to-watch" [disabled]="statusWantToWatch">Want to watch</option>
                              <option value="dont-watch" [disabled]="statusDontWatch">Don't want to watch</option>
                            </select>
                          </label>
                          <input formControlName="userId" type="hidden" [value]="currentUser['user'].id">
                          <input formControlName="animeId" type="hidden" [value]="anime.id">
                          <button (click)="updateStatUser(formStatus.value)" class="btn btn-block w-25 btn-outline-info">Update</button>
                        </form>
                        <button class="btn btn-info disabled mt-3" *ngIf="statusCompleted" style="cursor: unset">Completed</button>
                        <button class="btn btn-info disabled mt-3" *ngIf="statusWatching" style="cursor: unset">Watching</button>
                        <button class="btn btn-info disabled mt-3" *ngIf="statusWantToWatch" style="cursor: unset">Want to watch</button>
                        <button class="btn btn-info disabled mt-3" *ngIf="statusDontWatch" style="cursor: unset">Don't want to watch</button>
                        <span *ngIf="rewatchedTimes > 0 && currentUser"><p>Rewatch {{rewatchedTimes}} time(s)</p></span>
                        <button *ngIf="currentUser" class="btn btn-block w-25 btn-outline-primary" (click)="rewatch()">Rewatch</button>
                      </div>

                      <div *ngIf="anime.synopsis">
                        <h3>Synopsis</h3>
                        <p class="text-justify">{{ anime.synopsis}}</p>
                      </div>

                      <div>
                        <p *ngIf="anime.rating" class="h1 font-weight-bolder">{{anime.rating}}/100</p>
                      </div>
                    </div>

                  </div>


                </div>
            </div>

        </div>
        <!-- tab list characters main & support  -->
        <div *ngIf="anime.characters" class="tab-pane fade" id="persos" role="tabpanel" aria-labelledby="persos-tab">
            <h3>Personnages</h3>
            <div class="row">
                <h3>Personnages principaux</h3>
            </div>
            <!-- <div class="container"> -->
                <div class="row justify-content-center" >
                    <div style="display: flex;overflow-x: scroll;" >
                            <ng-container *ngFor="let perso of anime.characters" >
                        <div class="card text-white box cardi" *ngIf="perso.role === 'main'">
                                <div class="flow" >
                                    <a href="#">
                                        <img style="width: 100%;" class="card-img-top-a"
                                        src="{{perso.img}}" alt="poster_{{ perso.name }}">
                                    </a>
                                </div>

                                <div class="card-img-overlay overlay">
                                    <div class="text">
                                        <h5 class="card-title mt-auto">{{  perso.name }}</h5>
                                        <a routerLink="./characters/{{perso.name}}" class="btn btn-primary mt-auto" target="_blank">More</a>
                                    </div>
                                </div>
                        </div>
                            </ng-container>
                    </div>
                </div>
            <!-- </div> -->

            <div class="row" *ngIf="anime.characters.length > 0">
                <h3>Personnages secondaires</h3>
            </div>

            <!-- <div class="container"> -->
                <div style="display: flex;overflow-x: scroll;" >
                    <div class="card text-white box cardi" *ngFor="let perso of anime.characters">
                        <ng-container *ngIf="perso.role === 'supporting'">
                            <div class="flow" >
                                <a href="#">
                                    <img class="card-img-top-a " src="{{perso.img}}" alt="poster_{{ perso.name }}">
                                </a>
                            </div>

                            <div class="card-img-top card-img-top-a">
                                <div class="text">
                                    <h5 class="card-title mt-auto">{{  perso.name }}</h5>
                                    <a routerLink="./characters/{{perso.name}}" class="btn btn-primary mt-auto" target="_blank">More</a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            <!-- </div> -->

        </div>
        <!-- animes recommendations tab -->
      <div *ngIf="animesRecommendated" class="tab-pane fade" id="recommend" role="tabpanel" aria-labelledby="recommend-tab">
          <h3>Recommendations</h3>
        <div class="flex-container columns">
          <div class="flex-item" *ngFor="let a of animesRecommendated" style="" >
            <div class="animated">
              <div class="card text-white box cardi">
                <div class="flow">
                  <a [routerLink]="['/animes/', a['anime'].title]">
                    <img style="max-width: 100%" class="card-img-top card-img-top-a "
                         src="{{ a['anime'].posterImage || 'https://media.kitsu.io/anime/poster_images/10007/original.jpg?1460247262' }}"
                         alt="poster_{{ a['anime'].title }}">
                  </a>
                </div>

                <div class="card-img-overlay overlay">
                  <div class="text">
                    <h5 class="card-title mt-auto">{{ a['anime'].title }}</h5>
                    <a [routerLink]="['/animes/', a['anime'].title]" class="btn btn-primary mt-auto" target="_blank">More</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
<!--          <div class="card-group">-->
<!--           -->
<!--          </div>-->
      </div>
    </div>

</div>
