<h1>Admin Panel</h1>
<div class="row">
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Animes</h5>
            <span class="h2 font-weight-bold mb-0">{{nbAnimes}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Genres</h5>
            <span class="h2 font-weight-bold mb-0">{{nbGenres}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Catégories</h5>
            <span class="h2 font-weight-bold mb-0">{{nbCats}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Personnages</h5>
            <span class="h2 font-weight-bold mb-0">{{nbCats}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6" style="max-height: 20em; overflow-y: scroll ">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Position</th>
        <th>Genres</th>
        <th>Nombre d'animes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let genre of finalTopGenres; let index = index">
        <td>{{index+1}}</td>
        <td>{{genre.name}}</td>
        <td>{{genre.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6" style="max-height: 20em; overflow-y: scroll ">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Position</th>
        <th>Catégories</th>
        <th>Nombre d'animes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let genre of finalTopGenres; let index = index">
        <td>{{index+1}}</td>
        <td>{{genre.name}}</td>
        <td>{{genre.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <div class="col-6">
    <canvas id="canvas_cat">{{ chart_cat }}</canvas>
  </div>
</div>

<ngx-spinner bdColor="#333" size="medium" color="#000000" type="ball-atom">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

